
.header {
  height: 100px;
  background-color: #989ba0
}

.header-text {
  padding-top: 25px;
  text-align: center;
  font-size: 40px
}

.textbox{
  text-align:center;
  padding:10px;
  background-color: aqua;
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  height: 600px
}

.a{
  float:left;
  width:65%;
  margin:10px;
}

.b{
  float:right;
  color:blue;
  width:30%;
  margin:10px
}
